<% layout('../boilerplate') %>




<div class="row">
	<div class="col-sm-6">
		<h2>List</h2>
	</div>
	<div class="col-sm-6 text-right">
		<a href="populate" class="btn btn-default create-button">Add students</a>
		<a href="create" class="btn btn-success create-button">Add a group</a>
	</div>
</div>

<table class="table table-codnensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Year</th>
			<th>Teacher</th>
			<th class="text-right">Delete</th>
		</tr>
	</thead>
	<tbody>
		<% for ( var i = 0; i < groups.length; i ++ ){ %>
			<tr>
				<td><a href="edit/?id=<%= groups[i]._id %>"><%= groups[i].name %></a></td>
				<td><%= groups[i].year %></td>
				<td><%= groups[i].teacher %></td>
				<td class="text-right">
					<a href="delete/?id=<%= groups[i]._id %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus-sign"></span> Delete</a>
				</td>
				

			</tr>
		<% } %>	
		
	</tbody>

</table>