<% layout('../boilerplate') %>


<% if ( messageSuccess.length > 0 ) { %>
	<div class="alert alert-success"><%= messageSuccess %></div>
<% } %>
<% if ( messageError.length > 0 ) { %>
	<div class="alert alert-danger"><%= messageError %></div>
<% } %>


<form method="post" action="">
	<input type="hidden" name="id" value="<%= id %>" />
	<div class="form-group">
        <label>Teacher:</label>
        <input class="form-control" type="text" name="teacher" value="<%= teacher %>" />
    </div>
	<div class="form-group">
        <label>Year:</label>
        <input class="form-control" type="number" name="year" value="<%= year %>"/>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" name="name" value="<%= name %>"/>
    </div>

    <div class="row">
		<div class="col-sm-6 text-left">
			<a href="../" type="button" class="btn btn-default">Cancel</a>
			<a href="../delete/?id=<%= id %>" type="button" class="btn btn-danger">Delete</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	</div>
</form>

