<% layout('../boilerplate') %>

<% if ( message ){ %>
	<%= message %>	
<% } %>

<form method="post" action="">
    <div class="form-group">
    	<label for="selectGroup">Select group</label>	    	
    	<select name="groupid" id="selectGroup" class="form-control">
			<% for ( var i = 0; i < groups.length; i++ ){ %>
				<% if ( groups[i]._id === id ) { %>
					<option value="<%= groups[i]._id %>" selected><%= groups[i].name %></option>	
				<% } else { %>
					<option value="<%= groups[i]._id %>"><%= groups[i].name %></option>
				<% } %>
			<% } %>
		</select>
    	
    </div>
	<div class="form-group">
		<label for="inputSecret">Secret</label>
		<input id="inputSecret" class="form-control" type="text" name="secret" value="<%= defaultSecret %>" />
	</div>	

	<div class="row">
		<div class="form-group col-xs-6">
			<label for="boys">Boys</label>
			<input type="number" class="form-control" id="boys" name="howManyBoys" placeholder="0">
		</div>
		<div class="form-group col-xs-6">
			<label for="boys">Girls</label>
			<input type="number" class="form-control" id="boys" name="howManyGirls" placeholder="0">
			</div>
	</div>


	<div class="clearfix">&nbsp;</div>
    <div class="row">
		<div class="col-sm-6 text-left">
			<a href="../" type="button" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-success">Add</button>
		</div>
	</div>	
</form>
