<% layout('../boilerplate') %>

<form method="post" action="create">
	<div class="form-group">
		<label for="inputSecret">Secret</label>
		<input class="form-control" type="text" id="inputSecret" name="secret" value="<%= defaultSecret %>" />
	</div>		
    <div class="form-group">
    	<label for="selectType">Type</label>	    	
    	<select name="usertype" class="form-control">
    		<% for ( var type in allTypes ){ %>
    			<option value="<%= type %>" <% if( defaultType === type ){ %>selected<% } %> ><%= type %></option>
			<% } %>
		</select>
    	
    </div>
    <div class="form-group">
		<label for="selectGender">Gender</label>
		<select id="selectGender" name="gender" class="form-control">
			<% for ( var i = 0; i < genders.length; i ++ ) { %> 
				<% if ( i == 0 ) { %>
					<option value="<%= genders[i] %>" selected><%= genders[i] %></option>
				<% } else { %>
					<option value="<%= genders[i] %>"><%= genders[i] %></option>
				<% } %>
			<% } %>
		</select>			
	</div>
    <div class="form-group">
    	<label for="groupSelect">Select group</label>	    	
    	<select name="groupid" class="form-control" id="groupSelect">
			<% for ( var i = 0; i < groups.length; i++ ){ %>
				<% if ( i == 0 ) { %>
					<option value="<%= groups[i]._id %>" selected><%= groups[i].name %></option>	
				<% } else { %>
					<option value="<%= groups[i]._id %>"><%= groups[i].name %></option>
				<% } %>
			<% } %>
		</select>
	
	<div class="clearfix">&nbsp;</div>
	
	
    <div class="row">
		<div class="col-sm-6 text-left">
			<a href="../" type="button" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-success">Add</button>
		</div>
	</div>
</form>