<% script("/js/jquery.tablesorter.min.js", "text/javascript") -%>

<% layout('../boilerplate') %>


<div class="row">
	<div class="col-sm-6">
		<h2>Registered users</h2>
	</div>
<!--
	<div class="col-sm-6 text-right">
		<a href="create" class="btn btn-success create-button">Add one</a>
	</div>
-->
</div>


<table class="table table-codnensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Group</th>
			<th class="text-right">Delete</th>
		</tr>
	</thead>
	<tbody>
		<% for ( var i = 0; i < users.length; i ++ ){ 
		
			if ( !users[i].validationToken ){
			
		%>
			<tr>
				<td><a href="edit/?id=<%= users[i]._id %>"><%= users[i].name %></a></td>
				<td><%= users[i].type %></td>
				<td><%= users[i].habitsGroup %></td>
				<td class="text-right">
					<a href="delete/?id=<%= users[i]._id %>&username=<%= users[i].name %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus-sign"></span> Delete</a>
				</td>
				

			</tr>
		<% 	} 
		}
		
		%>	
		
	</tbody>

</table>



<div class="row">
	<div class="col-sm-6">
		<h2>Un-registered ones</h2>
	</div>
	<div class="col-sm-6 text-right">
		<a href="cleanup" class="btn btn-default create-button">Cleanup</a>
		<a href="create" class="btn btn-success create-button">Add one</a>
	</div>
</div>

<table class="table table-codnensed">
	<thead>
		<tr>
			<th>Validation token</th>
			<th>Type</th>
			<th>Group</th>
			<th class="text-right">Delete</th>
		</tr>
	</thead>
	<tbody>
		<% for ( var i = 0; i < users.length; i ++ ){ 
		
			if ( users[i].validationToken ){
			
		%>
			<tr>
				<td><a href="edit/?id=<%= users[i]._id %>"><%= users[i].validationToken %></a></td>
				<td><%= users[i].type %></td>
				<td><%= users[i].habitsGroup %></td>
				<td class="text-right">
					<a href="delete/?id=<%= users[i]._id %>&username=<%= users[i].name %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus-sign"></span> Delete</a>
				</td>
				

			</tr>
		<% 	} 
		}
		
		%>

	</tbody>

</table>