<% layout('../boilerplate') %>

<% block('title_class', habit.habit ) %>

<form method="POST" action="">
	<input type="hidden" name="habit" value="<%= habit.habit %>" />
	<div class="edit-habits <%= habit.habit %>-habit">
		
		<% habit.subhabits.forEach( function(subhabit){ %>
			
			<div class="habit-box">
				<p class="question"><%= subhabit.question %></p>
				<div class="slider-holder">
					<div class="slider-left"><p class="text-middle">A little</p></div>
					<input name="<%= subhabit.id %>" type="range" class="habit-slider <%= habit.habit %>-thumb" />
					<div class="slider-right">A Lot</div>
				</div>								
				<p class="explanation"><%= subhabit.explanation %></p>
			</div>
		
		<% } ); %>
		
		
		<div class="clearfix">&nbsp;</div>
		<button type="submit" class="btn btn-success btn-block">Save</button>
							
	</div>					
</form>
