
<% layout('../boilerplate') %>



<% for ( var i = 0; i < habits.length; i++ ){ %>
	
<div class="panel panel-default">
	<div class="panel-body text-center">
		
		<p class="lead <%= habits[i].key[1] %>"><%= habits[i].key[1] %></p>
		
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%= habits[i].value.subhabits[0]*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= habits[i].value.subhabits[0]*100 %>%;">
				<span class="sr-only"><%= habits[i].value.subhabits[0]*100 %>% Complete</span>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%= habits[i].value.subhabits[1]*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= habits[i].value.subhabits[1]*100 %>%;">
				<span class="sr-only"><%= habits[i].value.subhabits[1]*100 %>% Complete</span>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%= habits[i].value.subhabits[2]*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= habits[i].value.subhabits[2]*100 %>%;">
				<span class="sr-only"><%= habits[i].value.subhabits[2]*100 %>% Complete</span>
			</div>
		</div>
		
	</div>
</div>
	
<% } %>